*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Times New Roman" Arial, Helvetica, sans-serif;
}

.containerHeader{
    background-color: #1f2937;
    padding: 15px 100px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.containerLinks{
    display: flex;
    gap: 16px;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
}
.links{
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
}
.welcome{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.welcomeInfo{
    width: 450px;
}
.welcomeTitle{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.welcomeText{
    font-size: 18px;
    color: #e5e7eb;
}
.welcomeButton{
    margin-top: 5px;
    color: white;
    background-color: #3882f6;
    padding: 5px 25px;
    border-radius: 10px;
}
.image{
    width: 450px;
    height: 150px;
    background-color: darkgray;
}
.containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoTitle{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 20px 0;
}
.containerInfoCards{
    display: flex;
    gap: 32px;
    padding: 8px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.cardText{
    width: 150px;
    text-align: center;
}

.cardImage{
    width: 150px;
    height: 150px;
    border: 3px #3882f6 solid;
    border-radius: 10px;
}
.containerQuote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 400px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoteAuthor{
    align-self: flex-end;
    font-weight: 900;
}
